<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" />
 
    <title>Sort numbers very inefficiently!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	
	<table class="table">
				<thead>
					<tr>
						<th>Unsorted numbers</th>
						<th>Sorted numbers</th>
						<th>Swaps required</th>
						<th>Sorting time (ms)</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="history : ${history}">

						<td th:text="${history.old_numbers}"></td>
						<td th:text="${history.sorted_numbers}"></td>
						<td th:text="${history.swaps}"></td>
						<td th:text="${history.timer}"></td>
					</tr>
				</tbody>
			</table>
	
	
<form action="/newnumbers" method="post">
  <input type="number" name="count" value="8"/>
  <input type="submit" value="sort this many random numbers" />
  <i>(Avoid going much higher than 10ish!)</i>
</form>
	
	<a href="/reset">reset</a>
</body>
</html>
